/*
 * 注册页面
 * 时间2016-09-05
 *  */

body {
	background-color: #fff;
}
#register{
	height: 468px;
	width: 866px;
	margin: 0 auto;
	border: 1px solid #ddd;
	margin-bottom: 40px;
	margin-top: 10px;
	border-radius: 20px;
	background: #F2F2F2;
	padding: 8px 66px;
	color: #666;
}
#register .reg {
	height: 40px;
	margin-top: 31px;
	font-size: 14px;
	color: #666;
	position: relative;
}
#register .reg label{
	display: inline-block;
	width: 104px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	letter-spacing: 1px;
}
#register .reg label b{
	color: red;
}
#register .reg input {
	width: 226px;
	height: 16px;
	vertical-align: middle;
	padding: 10px 40px 10px 8px;
	border: 1px solid #aaa;
	display: inline-block;
}

#register .reg img{
	height: 16px;
	width: 16px;
	position: absolute;
	left: 0;
	top: 0;
	left: 350px;
	top: 12px;
}
#register .reg img.reg_success{
	display: none;
}
/*验证信息显示*/
#register  label.error{
	width: 240px;
	height: 36px;
	border: 1px solid #F25B7C;
	color: #F25B7C;
	position: absolute;
	left:390px;
	top: 2px;
	background:#FFEBEB;
	text-align: center;
}


#register #reg_test{
	width: 130px;
	height: 36px;
	font-size: 18px;
	padding: 0;
	text-indent: 10px;

	display: inline-block;
	vertical-align: middle;


}
.test_img{
	vertical-align: middle;
	height: 40px;
	width: 300px;
	margin-left: 10px;
	display: inline-block;
	line-height: 40px;
}

#register .test_img span a{
	color: #3A78D1;
	cursor: pointer;
}
#test_code{
letter-spacing: 3px;
	border: 1px solid #aaa;
	display: inline-block;
	height: 38px;
	text-align: center;
	line-height: 38px;
	font-size: 20px;
	margin: 0 10px;
	width: 110px;
}
#register .reg_agree{
	padding-top: 10px;
	padding-left: 110px;
}
#register .reg_agree #agree{
	width: 16px;
	height: 16px;
}


.submit{
	margin-left: 104px;
	margin-top: 40px;
}
.protocol a{
	color: #3A78D1;
	cursor: pointer;
}

.submit #submit_btn{
	cursor: pointer;
	height: 36px;
	width: 270px;
	border:0;
	background: url(../imgs/register-img/regist-btn.jpg)no-repeat center;
}




