
.scm_title{
	height: 36px;
	line-height: 36px;
}
.scm_title input{
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
}

.cart{
	display: block;
	color: #6B6B6B;
	width: 998px;
	margin: 0 auto;
	border: 1px solid #ccc;
	font-size: 12px;
}

.cart_tit{
	height: 31px;
	background-color: #DEDEE0;
	border-bottom:1px solid #ccc;
}
.cart_tit ul li{
	line-height: 31px;
	height: 31px;
	text-align: center;
	float: left;
}
.cart_goods ul{
	height: 78px;
	overflow: hidden;
}
.cart_goods ul li{
	float: left;
	height: 78px;
	line-height: 78px;
	text-align: center;
	overflow: hidden;
}
.cart_goods ul li.goods_name img{
	vertical-align: middle;
	height: 70px;
	width: 70px;
	margin-left: 35px;
	margin-top: 3px;
	border: 1px solid #DEDEDE;
	float: left;
}
.cart_goods ul li.goods_name .name{
	float: left;
	margin-left:10px;
	height: 78px;
	width: 190px;
}
.cart_goods ul li.goods_num a{
	height: 15px;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../imgs/detail-img/newicon201301014.png");
}



.reduce_num{
	background-position: -216px -206px;
}
.reduce_num:hover{
	background-position: -216px -190px;
}
.add_num{
	background-position: -232px -206px;
}
.add_num:hover{
	background-position: -232px -190px;
}
.cart_goods ul li.goods_num .show_num{
	height: 22px;
	width: 40px;
	margin:0 2px;
	text-align: center;
	display: inline-block;
	border: 1px solid #C9C9C9;
}

.clear,.ct_num{
	color: #D10707!important;
}
.clear:hover{
	text-decoration: underline;
}
.cart_total p{
	text-align: right;
	border-top: 1px solid #ddd;
	height: 35px;
	line-height: 35px;
	background-color: #F3F3F3;
}
/*继续购物*/
.continue,.account{
	cursor: pointer;
	height: 35px;
	width: 120px;
	border: 0;
	padding: 0;
	vertical-align: top;
	display: inline-block;
}

.ct_total{
	font-size: 16px;
	color: #D10707;
	font-weight: 900;
	display: inline-block;
}
.continue{
	margin-left: 20px;
	background: url(../imgs/shopcar-img/continue_buy.jpg)no-repeat center;
}
.account{

	background: url(../imgs/shopcar-img/shopcart_buy_01.jpg)no-repeat center;
}


.goods_name{
	width: 310px;
}
.goods_price{
	width: 110px;
}
.goods_num{
	width: 120px;
}
.goods_total{
	width: 95px;
}
.goods_intergral{
	width: 90px;
}
.goods_option{
	width: 100px;
}
.goods_state{
	width: 168px;
}





















